<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Visions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <p>The Designers of Interactive, Intelligent, Internet of Things (DoIIIT) is a group of faculty and students at the University of Michigan who are passionate about interactive, intelligent and Internet of things (IoT).</p>
                  
                  <p>As computing technologies have become more ubiquitous and accessible, our interaction with information, people and technology has profoundly changed. This trend calls for the need to examine how people can better interact with various technologies through the process of making. The goal is to create an immersive environment where people seamlessly interact with digital information and physical artifacts.</p>
                  
                  <p>Due to its diverse nature, the group currently involves students and faculty from the School of Information, Stamps School of Art and Design, Electrical Engineering and Computer Science, and School of Music, Theatre, and Dance.</p>
                  
                  <p>We welcome everyone who is interested in exploring the potential of this vision to contribute to future research in Human-Computer Interaction (HCI).</p>
                </div>
            </div>
        </div>
    </section>
