<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="http://umich.edu">
                        <img src="img/logos/umich.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://si.umich.edu/">
                        <img src="img/logos/umsi.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://misc.si.umich.edu">
                        <img src="img/logos/misc.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
